/*--------
theme color setting
--------*/

body {
    background-color: #F4F4F4;
    /*background color*/
}

#header_nav {
    background-color: #1D4874;
    /*theme color 2*/
    /*
    background-color: #1aac2f; !*theme color 2*!
    */
}
#container > section {
    background-color: rgba(255,255,255,0.5);
}

.thead_engineering {
    background-color: #84afba;
}

.thead_infomatics {
    background-color: #c16c70;
}

.thead_architecture {
    background-color: #9fb386;
}

.thead_bio {
    background-color: #6b7da8;
}

.thead_normal{
    background-color: #1D4874;
}



h1 .underline {
    border-bottom: 20px solid #ffc8c7;
    /*underline*/
    /*acsent color*/
    margin-top: -20px;
}

h2 .underline {
    border-bottom: 15px solid #ffc8c7;
    /*underline*/
    /*acsent color*/
    margin-top: -15px;
}

h3 .underline {
    border-bottom: 15px solid rgba(105, 255, 36, 0.44);
    /*underline*/
    /*acsent color*/
    margin-top: -15px;
}

h4 .underline {
    border-bottom: 5px solid #ffc8c7;
    /*underline*/
    /*acsent color*/
    margin-top: -5px;
}

#header_nav,
.section_inner table > thead tr {
    color: #FFFFFF;
}

/*--------
general setting
--------*/
html,
body {
    position: absolute;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    top: 0;
    margin: 0;
    padding: 0;
}

html {}

body{
}


/*--------
header setting
--------*/
header {
    width: 100%;
}

#title_area,
#header_nav {
    width: 100%;
    display: block;
    text-align: center;
}

#title_area h1,
#title_area h3 {
    display: inline-block;
    font-family: "Rounded Mplus 1c";
}

.underline {
    height: 0;
    margin: 0 -15px;
    width: inherit;
}

#title_area {}

#header_nav {
    font-weight: bold;
    padding: 5px;
}

#header_nav ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 10px;
}

#header_nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#header_nav ul li a {
    display: block;
    padding: 20px;
    border-bottom: 2px solid white;
    /*underline*/
    /*border: 1px solid white;*/
}

#oc_day {
    height: 15%;
    width: 15%;
    position: relative;
    top: 15px;
    right: 27%;
}
#warning{
    font-weight: bold;
}


/*--------
section setting
--------*/
#container {
    width: 90%;
    margin: 0 auto;
}

#container > section {
    margin: 0;
    margin-top: 20px;
    padding: 15px 0;
}

.section_inner {
    display: block;
    margin: 0 20px;
    text-align: center;
}

.section_title {
    text-align: center;
    display: inline-block;
}

.section_info {
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section_inner h2,
.section_inner h3 {
    text-align: center;
    display: inline-block;
}

.section_inner caption {
    font-weight: bold;
    text-align: center;
    margin: 10px;

}

/*table setting*/
.section_inner table {
    text-align: center;
    font-size: x-large;
    width: 100%;
    margin: -10px auto 10px auto;
    border: 1px solid #000;
    border-collapse: collapse;
}

.section_inner table thead,
.section_inner table tbody {
    width: 100%;
}

.section_inner table tr {
    width: 100%;
}

.section_inner table > thead tr {
    font-weight: bold;
    font-size: xx-large;
}

.section_inner table > tbody tr:nth-child(odd) {
    background-color: white;
}

.section_inner table > tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

.section_inner table thead tr {}

.section_inner table th{
    width: 30%;
    padding: 15px;
    border: 1px solid #000;
}

.section_inner table td {
    width: 70%;
    padding: 15px;
    border: 1px solid #000;
}

.section_inner table span {
    font-weight: bold;
    line-height: 26px;
}

.section_inner table p {
    line-height: 24px;
}
/*--------
model_courses section setting
--------*/
#model_courses p{
    font-size: 20px;
}
#model_courses table{
    margin-bottom: 40px;
}
#model_courses ul{
    list-style: none;
}
.model_course table tr td:nth-child(1){
    width : 90%;
}

.model_course table tr td:nth-child(2){
    width : 10%;
}
.model_course ul {
    padding : 0;
}
.model_course ul li {
    padding: 10px;
    margin: 15px;
}
.model_course:nth-child(2) ul li {
    background-color: #fffac0;
}
.model_course:nth-child(3) ul li {
    background-color: #d4ebdd;
}
.model_course ul li span{
    display: block;
}
.model_course ul li small{
    display: block;
}
.model_course ul li div{
    display: block;
    padding-top: 10px;
    text-align: right;

}

/*--------
overall section setting
--------*/
#overall {
    text-align: center;
}

#overall .icon{
    position: relative; left: 17px; bottom: 12px;
}

#overall .pulldown_content{
    width: 150%;
    position: relative; right: 85px;
}


/*--------
times section setting
--------*/
#table_memo {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    overflow: visible;
    float: right;
    top: 61px;
    right: 0px;
}

#table_memo div {
    position: relative;
    display: block;
    width: 200px;
    padding: 12px;
    border: 1px solid #6e6e6e;
    border-radius: 20px;
    float: right;
    line-height: 26px;
    background-color: #f6f6f6;
}

#times .section_inner table th{
    width: 50%;
    padding: 15px;
    border: 1px solid #000;
    
}

#times .section_inner table td {
    width: 50%;
    padding: 15px;
    border: 1px solid #000;
    font-weight: bold;
    
}

/*--------
class_room section setting
--------*/

/*--------
kit_map section setting
--------*/
#kit_map select,
#map_image,
#map {
    width: 100%;
}

#map {
    height: 600px;
}


#kit_map select {
    text-align: center;
    height: 50px;
    padding: 5px;
}

/*--------
footer setting
--------*/
footer {
    background-color: #1D4874;
    width: 100%;
    color: #fff;
    text-align: center;
}

footer h2 {
    margin: 10px 0px auto;
}

.relation_url {
    font-size: x-large;
    font-weight: bold;
}

.relation_url ul {
    padding-left: 0px;
}


.relation_url li {
    margin-bottom: 10px;
    list-style: none;
}


.relation_url a:visited {
    color: #F1F104;
}

.relation_url a:link {
    color: #fff;
}

.logo_image {
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    background-color: #fff;
}

#logo_kit {
    height: 40px;
}


#logo_kies {
    height: 50px;
    width: 50px;
    position: relative;
    top: 7px;
}
/*--------
event_table setting

--------*/
#class_room .pulldown_content,
#event_table .pulldown_content{
    width:100%
}

/*--------
recall buss setting
--------*/
#recall_buss table{
    font-weight: bold;
}

#buss_warning {
    font-size: large;
    font-weight: bold; 
}
#recall_buss .section_inner table th{
    width: 50%;
    padding: 15px;
    border: 1px solid #000;
}

#recall_buss .section_inner table td {
    width: 50%;
    padding: 15px;
    border: 1px solid #000;
}    


/*--------
next_oc setting
--------*/
#summer_oc{
    font-size: xx-large;
    font-weight: bold;
}

/*--------
blossom setting
--------*/
#blossom_area{
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index:-1;
    position: fixed;
}
.blossom {
    z-index: -1;
    position: absolute;
    width: 50px;
    height: 50px;
}
